.ResponsiveNavigation {
	display: flex;
	width: 100%;
	background: rgb(22, 6, 65);
	background: radial-gradient(
		circle,
		rgb(35, 8, 85) 77%,
		rgba(172, 34, 34, 1) 100%
	);
}

.ResponsiveNavigationContainer {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.fa-cart-shopping {
	margin-right: 5px;
}
